<html>
    <style>
        h1{
            color: navy;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30pt;
            padding-bottom: 30pt;
        }
        h2{
            color: navy;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            background-color: lightgreen;
        }
        .image{
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 5%;
            
        }
        .text_form{
            font-size: 20px;
            border-radius: 10px;
            padding: 5px;
            display: inline-block;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            border-width: 0;
        }
        .form_button{
            color: white;
            background-color: navy;
            border-radius: 10px;
            border-width: 0;
            font-size: 18px;
            padding: 10px;
        }
        .form-center{
            display: flex;
            justify-content: center;
        }
        .errors{
            color: red;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13pt;
            justify-content: center;
            display: flex;
        }
        .graph{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-bottom: 20px;
        }
        .dropdown{
            font-size: 20px;
            padding: 3px;
            border-radius: 5px;
            border-width: 0;
        }
    </style>
    <head>
        <title>Sector Investor</title>
        <img class="image" src={{ url_for('static', filename='stock.png') }}>
        <h1>Sector Investor</h1>
    </head>
    <body>
        <h2>Enter a sector that you want to invest in:</h2>
        <div class="form-center">
            <form method="POST" action="/">
                {{ form.csrf_token }}
                {{ form.sector(class_="text_form") }}
                {% if companies != None %}
                    <h2>Select the company you want to invest in:</h2>
                    {{ form.company(class_="text_form") }}
                {% endif %}
                <input class="form_button" type="submit" value="Search">
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="errors">
                    {% for m in messages %}
                        {{ m }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
            {% if graphs != None %}
                {% for g in graphs %}
                    <img class='graph' src="{{g}}">
                {% endfor %}
            {% endif %}
    </body>
</html>